.loginpage {
  width: 100vw;
  height: 100vh;
  /* background-color: aqua; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginpagebody {
  width: 30%;
  flex: 0.4;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 1px solid rgba(0, 0, 0, 0.); */
  border-radius: 10px;
  box-shadow: 3px 3px 15px 5px rgba(0, 0, 0, 0.3);
}

.login,
.register {
  width: 90%;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.login form {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.inputField {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}
